* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.logo {
  width: 300px;
}